/* Site Wide Style */

body {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 2;
}

/* Headings */

h1, h2, h3 {
    text-align: center;
    margin: 0.5em auto;
    width: 50%;
}

/* Option to switch the colored section to the title
h1 {
    width: 470px;
    background-color: rgba(98, 203, 245, 0.4);
    border-radius: 15px;
}
*/

h2 {
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: 35px;
    width: 150px;
    background-color: rgba(98, 203, 245, 0.4);
    border-radius: 15px;
}

/* Nav Bar */

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 70px;
    background-color: lightgray;
    border: 1px solid darkslategrey;
    position: fixed;
    overflow: auto;
}

nav li a {
    display: block;
    color: black;
}

nav li a:hover {
    background-color: darkgrey;
}

/* Author Tag */

.author-tag {
    margin: 1em auto;
    width: 50%;
    height: 70px;
    /*background-color: aqua; -->  Used to visually adjust box */
    overflow: hidden;
}

.author-tag img {
    height: 4em;
    float: left;
}

#author-name {
    color: dimgray;
    position: relative;
    top: -46px;
    left: 5px;
    font-size: 2em;
}

#post-date {
    color: dimgray;
    position: relative;
    top: -91px;
    left: 70px;
}

/* Article */

article {
    width: 50vw;
    min-width: 600px;
    margin: auto;
    /*background-color: yellow;*/
}

/* For mobile viewing */
@media only screen and (max-width: 425px) {
    article {
        width: 100%;
        padding: 10px;
        margin: 0px;
        /*background-color: pink;*/
    }
    h1 {
        width: 100%;
        margin-left: 125px;
    }
    nav ul { /* Fixes the position of the nav menu at the top on mobile */
        position: absolute;
    }
    .author-tag { /* Hides the author tag on mobile */
        visibility: hidden;
    }
    .sub-heading { /* Hides the <h2> on Prework Week 1 */
        visibility: hidden;
    }
    article { /* Moving up the article to make up for the author tag being hidden */
        margin-top: -110px;
    }
    .inlineImg { /* Moving the figure element to the left */
        position: relative;
        left: 30px;
    }
}

@media only screen and (max-width: 850px) { /* Moves the article down when the nav bar risks overlapping */
    .moveDown {
        margin-top: 125px;
    }
}

code {
    background-color: rgba(207, 207, 207, 0.4);
    padding: 2px;
    border-radius: 10px;
}

/* Makes long code have a transparents background */
.longCode {
    background-color: rgba(207, 207, 207, 0);
}

figcaption {
    color: rgba(92, 92, 92, 0.541);
    text-align: center;
}

/* Trying to change the font of link in figcaptions
article figure .minimalLink {
    text-decoration: none;
}
*/

.imgBorder {
    border: 10px solid rgba(102, 102, 102, 0.24);
    border-radius: 10px;
}

article img {
    margin: 1em 7vw;
    align-content: center;
    width: 70%;
    height: 70%;
}

.inlineImg {
    width: 35%;
    /* border: 10px solid rgba(102, 102, 102, 0.24);
    border-radius: 10px; */
    display: inline-block;
}

.inlineImg img {
    position: relative;
    left: -65px;
}

blockquote {
    background-color: rgba(102, 102, 102, 0.116);
    padding: 15px;
    border-radius: 10px;
}

a:hover {
    text-decoration: none;
}

article a:link {
    color: rgb(98, 203, 245);
}

article a:visited {
    color: rgb(55, 111, 133);
}

p {
    text-align: justify;
}


/* Page Styles - trying to set the first child of .projects li to bold*/

.projects > li {
    font-style: bold;
}